.flaskContainer {
  position: relative;
  width: 100%;
  max-height: 100%;
  min-height: 80%;
  flex-grow: 1;
  overflow: hidden;
}

.flaskImage {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  flex-grow: 1;
  filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.25));
  animation: potionAppear 1s ease-out 0s 1;
}

@keyframes potionAppear {
  0% {
    opacity: 0;
    transform: rotate(30deg);
  }

  18% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(15deg);
  }

  68% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.dropZone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1.25rem;
  border: 4px dashed black;
  border-radius: 1rem;
  transition: opacity 0.5s;
  background-color: rgba(33, 33, 33, 0.4);
}

.dropZoneActive {
  opacity: 1;
}

.dropZoneInactive {
  opacity: 0;
}

.fileInput {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
}
