.flask-container-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.flask-container {
  position: absolute;
  inset: 0;
  padding: 1.25rem;
  flex-grow: 1;
}

.flask-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.25));
  animation: potionAppear 1s ease-out 0s 1;
}

@keyframes potionAppear {
  0% {
    opacity: 0;
    transform: rotate(30deg);
  }

  18% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(15deg);
  }

  68% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
