.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(5px);
}

.overlay-content {
    font-family: 'Nunito';
    text-align: center;
    width: 90vw;
    text-shadow: 0 0 .5rem rgba(0, 0, 0, .85);
}

.overlay-content h1 {
    font-size: 2rem;
    color: #fff;
}

.overlay-content p {
    font-size: 1.2rem;
    color: #fff;
}
