@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  color-scheme: light dark;
  --spacing: 0.25rem;

  --light-theme: #dbdad9;
  --dark-theme: #242526;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Nunito';
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100dvh;
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(-45deg, #27aae1 50%, #e74a99 50%);
  background-size: cover;
  background-position: center center;
}

#content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
