.drop-zone-content {
  position: absolute;
  inset: 0;
  border: 4px dashed black;
  border-radius: 1rem;
  margin: 1.5rem;
  background-color: rgba(0, 0, 0, 0.25);

  transition: opacity 0.5s;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.file-input {
  width: 100%;
  height: 100%;
  opacity: 0;
}
