.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  background-color: #242526;
  box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.45);
  vertical-align: middle;
  height: 2rem;
}

.version {
  color: #b0b3b8;
  font-family: 'Nunito';
}
