@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  color-scheme: light dark;
  background-image: linear-gradient(-45deg, #27aae1 50%, #e74a99 50%);
  --spacing: 0.25rem;
}

body {
  margin: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
