@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.spacer {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.link {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding-left: 1px;
  padding-right: 1px;
  font-family: "Nunito", sans-serif;
  font-size: larger;
}

.link-icon {
  padding-right: calc(var(--spacing) * 1.5);
}
