name: Toggle Maintenance

# Trigger manually from GitHub UI
on:
    workflow_dispatch:
        inputs:
            maintenance:
                description: "Enable maintenance? true or false"
                required: true
                default: "true"

jobs:
    update-config:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Update config.json in gh-pages
              run: |
                  touch config.json
                  echo '{"maintenance": ${{ github.event.inputs.maintenance }}, "message": "Toggled by workflow"}' > config.json
